<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">


    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>ARCity</title>
    <!-- CSS files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- JavaScript files -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
       #pano {
        float: left;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h1> Hello World </h1>
    <div id="map"></div>
    <div id="pano"></div>
    <script>
      src="../static/js/load_map.js"
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{maps_embed_api}}&callback=initialize">
    </script>
  </body>
</html>
